table {
  empty-cells: show;
  border-collapse: collapse;
  padding: 0px;
}
tr {
  padding: 0px;
}
td {
  padding: 0px;
  width: 75px;
  height: 75px;
}
td.empty {
  background-image: url('images/empty.png')
}
