@import url(http://fonts.googleapis.com/css?family=Audiowide);
table {
  empty-cells: show;
  border-collapse: collapse;
  padding: 0;
}
tr {
  padding: 0;
}
td {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 75px;
  background-size: 75px;
  position: relative;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
}
td:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  background-size: contain;
  z-index: -1;
}
.empty:before {
  background-image: url('../images/new.png');
}
.wrench1:before {
  background-image: url('../images/wrench1.png');
}
.wrench2:before {
  background-image: url('../images/wrench2.png');
}
.slow_conveyor:before {
  background-image: url('../images/slow_conveyor.png');
}
.start_slow_conveyor:before {
  background-image: url('../images/start_slow_conveyor.png');
}
.fast_conveyor:before {
  background-image: url('../images/fast_conveyor.png');
}
.y_slow_conveyor:before {
  background-image: url('../images/y_slow_conveyor.png');
}
.y_fast_conveyor:before {
  background-image: url('../images/y_fast_conveyor.png');
}
.l_slow_conveyor:before {
  background-image: url('../images/l_slow_conveyor.png');
}
.l_fast_conveyor:before {
  background-image: url('../images/l_fast_conveyor.png');
}
.r_slow_conveyor:before {
  background-image: url('../images/r_slow_conveyor.png');
}
.r_fast_conveyor:before {
  background-image: url('../images/r_fast_conveyor.png');
}
.l_merge_slow_conveyor:before {
  background-image: url('../images/l_merge_slow_conveyor.png');
}
.l_merge_fast_conveyor:before {
  background-image: url('../images/l_merge_fast_conveyor.png');
}
.spawn1::before {
  content: "1";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn2::before {
  content: "2";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn3::before {
  content: "3";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn3::before {
  content: "3";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn4::before {
  content: "4";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn5::before {
  content: "5";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn6::before {
  content: "6";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn7::before {
  content: "7";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.spawn8::before {
  content: "8";
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.face1:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.face2:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.face3:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
img.bot {
  max-width: 55px;
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 1;
}
img.face0 {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
img.face1 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
img.face2 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
img.face3 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
img.laser, img.wall, img.pusher{
  max-width: 75px;
  position: absolute;
  top: 0;
  left: 0;
}
#register {
  float: left;
  width: 900px;
  margin: 15px auto;
  text-align: center;
  clear: both;
  font-family: sans-serif;
}
#cards {
  float: left;
  width: 900px;
  margin: 15px auto;
  text-align: center;
  clear: both;
  background-color: lightgrey;
  font-family: sans-serif;
}
.phase {
  border: 1px solid black;
  margin: 10px 15px;
  float: left;
  height: 125px;
  width: 75px;
}
.card {
  border: 1px solid blue;
  margin: 10px 10px;
  float: left;
  height: 125px;
  width: 75px;
}
#buttons {
  clear: both;
  text-align: center;
}

/*******************************/
/*      front page styles      */
/*******************************/
h1, h2, h3, h4 {
  font-family: Audiowide;
  text-align: center;
}
.landing {
  background-color: #6F707D;
  font-family: sans-serif;
}
.header {
  text-align: center;
}
.main {
  width: 80%;
  margin: auto;
  background-color: yellow;
}
.main ul {
  list-style-type: none;
}
.main ul li {
  float: left;
  width: 30%;
  height: 500px;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}
h2 a {
  color: black;
}
.lfm {
  background-color: #FF4B1C;
}
.in_progress {
  background-color: #1439B2;
}
.new_game {
  background-color: #66B20B;
}
button {
  text-align: center;
}
